
body {
    background: #f1f4f8;
    min-height: 480px;
    padding: 36px 15px;
    color: #505050;
    font-family: Gotham-Rounded-Book, sans-serif;
    
}

pre {
    font-family: 'Monaco', courier, monospace;
    background: #0B1022 !important;
    word-wrap: break-word !important;
    margin: 0px !important;
    padding: 10px !important;
    color: #fff !important;
    font-size: 90% !important;
    margin-bottom: 20px !important;
    border: 1px dashed #ddd !important;
}

.content_block {
    background: #fff;
    border: 1px solid #e3e6e9;
    border-radius: 5px;
    min-height: 100px;
    margin: 0px auto 12px;
    width: 985px;
    padding: 24px 32px;
    font-size: 14px;
}

.content_footer_block {
    text-align: center;
    font-size: 12px;
}
h1 {
    margin-bottom: 3px;
    color: #3E4E5A;
    font-family: Gotham-Rounded-Bold, sans-serif;
    font-size: 24px;
    line-height: 40px;
}

h2 {
    margin-bottom: 3px;
    color: #3E4E5A;
    font-family: Gotham-Rounded-Bold, sans-serif;
    font-size: 18px;
    line-height: 32px;
}

/* .container{
    min-height: 500px;
    width: 960px;
    margin: 0px auto;
    background-color: rgb(122, 122, 196);
}
pre {
    display: inline-block;
}
.header{
    width: 98%;
    margin: 5px;
    background-color: rgb(75, 75, 223);
    color: white;
    text-align: center;
    font-size: 45px;
    font-family: monospace;
    text-align: center;
}
.main_content{
    border: solid 2px white;
    width: 900px;
    margin: 25px;
}
.main_content p{    
    color: white;
    font-family: c;
}
.example{
    height: 200px;
    width: 400px;
    display: inline-block;
    background-color: bisque;
    margin: 24px;
}
.main_example{
    border: solid 2px white;
    width: 900px;
    margin: 24px;
}
.main_example p,
h5{
    font-size: 25px;
    color: white;
    font-family: monospace;
}
.main_example p{
    text-align: center;
}
.first{
    display: inline-block;
    vertical-align: top;
}
h5{
    margin: 30px;
    margin-bottom: 0px;
} */